[submodule "3rdparty/FreeRTOS"]
	path = 3rdparty/FreeRTOS
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "3rdparty/quickjs"]
	path = 3rdparty/quickjs
	url = https://github.com/jeeyo/quickjs.git
[submodule "3rdparty/lwip"]
	path = 3rdparty/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "3rdparty/llhttp"]
	path = 3rdparty/llhttp
	url = https://github.com/nodejs/llhttp.git
	ignore = dirty
[submodule "3rdparty/libyuarel"]
	path = 3rdparty/libyuarel
	url = https://github.com/jacketizer/libyuarel.git
[submodule "3rdparty/pico-sdk"]
	path = 3rdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "3rdparty/jerryscript"]
	path = 3rdparty/jerryscript
	url = https://github.com/jerryscript-project/jerryscript.git
[submodule "3rdparty/nanopb"]
	path = 3rdparty/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "3rdparty/opentelemetry-proto"]
	path = 3rdparty/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
