[submodule "3rdparty/FreeRTOS"]
	path = 3rdparty/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "3rdparty/duktape"]
	path = 3rdparty/duktape
	url = https://github.com/svaarala/duktape.git
